{
  "extends": [
    "taro"
  ],
  "rules": {
    "no-unused-vars": [
      0,
      {
        "varsIgnorePattern": "Taro"
      }
    ],
    "no-shadow": 0,//外部作用域中的变量不能与它所包含的作用域中的变量或参数同名
    // 限制文件后缀
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ],
    // jsx 的开始和闭合处禁止有空格
    "react/jsx-tag-spacing": [
      "error",
      {
        "closingSlash": "never",
        "beforeSelfClosing": "allow",
        "afterOpening": "never"
      }
    ]
  },
  "parser": "babel-eslint"
}
