# Editor directories and files
.idea
.vscode
.temp/
.rn_temp/
.DS_Store
deploy_versions/

# dependencies
node_modules/

# production
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
