@import "../../assets/styles/variable";

.no-data {
  margin: 0 auto;
  text-align: center;

  .empty-img {
    width: 500px;
  }

  .text {
    display: block;
  }

  &.fixed {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
