@import "./variable";

page {
  color: $color-text;
  font-size: $font-size-normal;
  background: $color-background;
}

/* 万能清除浮动法 */
.clear {
  zoom: 1;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

// iphoneX适配
.safe-area-inset-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-area-no-inset-bottom {
  margin-bottom: env(safe-area-inset-bottom);
}

.at-input__title {
  font-size: $font-size-title;
}

.at-input {
  input {
    font-size: $font-size-title;
  }
}
