@import "./variable";

page {
  color: $color-text;
  font-size: $font-size-normal;
  background: $color-background;
}

/* 万能清除浮动法 */
.clear {
  zoom: 1;
}

.clear::after {
  display: block;
  clear: both;
  content: "";
}

.view-fix-iphoneX {
  bottom: 60px !important;
}

.view-fix-iphoneX::after {
  position: fixed;
  bottom: 0 !important;
  width: 100%;
  height: 60px !important;
  background: #fff;
  content: ' ';
}

.at-input__title {
  font-size: $font-size-title;
}

.at-input {
  input {
    font-size: $font-size-title;
  }
}
