$color-primary: #41c315; // 主题色
$color-orange: #fa9d33; // 主题色
$color-background: #f7f5f5; // 背景色
$color-active: #e8e8e8; // 激活颜色
$color-line: #eeecec; // 线条颜色
$color-text: #373737; // 字体颜色
$color-text-vice: #a8a8a8; // 字体颜色

$font-size-normal: 26px; // 默认字体大小
$font-size-title: 28px; //标题字体大小

$height: 18px; //高度
$width: 26px; //宽度
