@import "../../assets/styles/variable";

.global-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10000;
  background: #fff;

  .loading-wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    .text{
      position: absolute;
      bottom: -20px;
      width: 200px;
      text-align: center;
    }
  }
}
